In [3]:
import pandas as pd

import urllib.request
from zipfile import ZipFile

In [5]:
urllib.request.urlretrieve("https://github.com/CSSEGISandData/COVID-19/archive/master.zip","../data/external/CSSEGISandData.zip")
with ZipFile("../data/external/CSSEGISandData.zip", 'r') as zippedFile:
    zippedFile.extractall('../data/external/')

In [8]:
df = pd.read_csv('../data/external/COVID-19-master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')

In [18]:
over1kCaseDf = df[df["10/23/20"]-df["10/22/20"] > 10000]

In [19]:
over1kCaseDf

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,10/14/20,10/15/20,10/16/20,10/17/20,10/18/20,10/19/20,10/20/20,10/21/20,10/22/20,10/23/20
6,NaN,Argentina,-38.416100,-63.616700,0,0,0,0,0,0,...,931967,949063,965609,979119,989680,1002662,1018999,1037325,1053650,1069368
23,NaN,Belgium,50.833300,4.469936,0,0,0,0,0,0,...,181511,191959,202151,213115,222253,230480,240159,253386,270132,287700
30,NaN,Brazil,-14.235000,-51.925300,0,0,0,0,0,0,...,5140863,5169386,5200300,5224362,5224362,5250727,5273954,5298772,5323630,5353656
98,NaN,Czechia,49.817500,15.473000,0,0,0,0,0,0,...,139290,149010,160112,168827,173885,181962,193946,208915,223065,238323
126,NaN,France,46.227600,2.213700,0,0,2,3,3,3,...,788117,818707,843475,843471,843471,918679,939147,965451,1007026,1048842
130,NaN,Germany,51.165691,10.451526,0,0,0,0,0,1,...,344487,352107,359802,364664,368671,377068,385591,397922,403874,426110
143,NaN,India,20.593684,78.962880,0,0,0,0,0,0,...,7307097,7370468,7432680,7494551,7550273,7597063,7651107,7706946,7761312,7814682
149,NaN,Italy,41.871940,12.567380,0,0,0,0,0,0,...,372799,381602,391611,402536,414241,423578,434449,449648,465726,484869
204,NaN,Poland,51.919400,19.145100,0,0,0,0,0,0,...,141804,149903,157608,167230,175766,183248,192539,202579,214686,228318
208,NaN,Russia,61.524010,105.318756,0,0,0,0,0,0,...,1332824,1346380,1361317,1376020,1390824,1406667,1422775,1438219,1453923,1471000
227,NaN,Spain,40.463667,-3.749220,0,0,0,0,0,0,...,908056,921374,936560,936560,936560,974449,988322,1005295,1026281,1046132
243,NaN,US,40.000000,-100.000000,1,1,2,2,5,5,...,7916099,7979709,8048865,8106384,8154594,8212981,8273296,8336031,8407702,8491459
257,NaN,United Kingdom,55.378100,-3.436000,0,0,0,0,0,0,...,654644,673622,689257,705428,722409,741212,762542,789229,810467,830998

In [29]:
meltedover1kCaseDf = pd.melt(over1kCaseDf,id_vars=["Country/Region"], value_vars=list(over1kCaseDf.columns)[4:])
meltedover1kCaseDf.columns = ['Country/Region',"Date","Cumaltive Case Count"]

In [28]:
meltedover1kCaseDf

      Country/Region  variable    value
0          Argentina   1/22/20        0
1            Belgium   1/22/20        0
2             Brazil   1/22/20        0
3            Czechia   1/22/20        0
4             France   1/22/20        0
...              ...       ...      ...
3583          Poland  10/23/20   228318
3584          Russia  10/23/20  1471000
3585           Spain  10/23/20  1046132
3586              US  10/23/20  8491459
3587  United Kingdom  10/23/20   830998

[3588 rows x 3 columns]